ae_utils @ git+https://github.com/davidegraff/autoencoders.git@c6798bf0947f52a0260a5fd575986ed5eed990d1
fastcluster
numpy
PyTDC
lightning
rdkit >= 2022.9.4
scipy
selfies
sklearn
torch <= 1.13
torchdrug
transformers
typing_extensions